<h1 id="welcome">Welcome to Craigslist-the original clone!</h1>

<p id="indextext">Browse our exiting categories and find what you seek!</p>

<div class="w3-container">
    <h4 id="headercategories">All categories</h4>
<ul id="indexlist">
  {{#each model as |category|}}
     {{category-tile category=category}}

  {{/each}}
</ul>
</div>
